.header  {
    font-family: monospace;
    background: papayawhip;
    /* correct: */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* incorrect:
    flex: 1; */
    /* solution: */
    padding: 8px /* move from .logo */
  }
  
  .logo {
    font-size: 48px;
    font-weight: 900;
    color: tomato;
    background: white;
    padding: 4px 32px;
    /* margin: 15px; should be in .header */
    /* justify-self: center; incorrect - unneeded */
  }

  .right-links {
    display: flex;
    justify-self: flex-end;
  }

  .left-links {
    justify-content: flex-start;
  }
  
  ul {
    /* this removes the dots on the list items*/
    list-style-type: none;
    display: flex;
    /* correct: */
    gap: 10px; /* they had 8px */
    /* solution: */
    margin: 0;
    padding: 0; /* pushes right to side */
  }
  
  a {
    font-size: 22px;
    background: white;
    padding: 8px;
    /* this removes the line under the links */
    text-decoration: none;
  }